@import 'my_variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';

/* Roboto regular */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Light.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Roboto italic */

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto bold */

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: #999 !important;
  font-weight: 200;
}

@mixin linear-gradient($color1, $color2){
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, $color1 , $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, $color1 , $color2); /* Standard syntax */
}

.page-header {
  min-height: 50vh;
  padding: 0;
/*   color: $white-color; */
  position: relative;

  & > .content{
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }

  &.page-header-small{
      min-height: 60vh;
      max-height: 440px;
  }

  &:before{
      background-color: rgba(0,0,0,.3);
  }

  > .container{
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
  }

    .page-header-image{
        position: absolute;
        background-size: fixed;
        background-position: center center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }

    .content-center{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      color: #FFFFFF;
      padding: 0 15px;
      width: 100%;
      max-width: 880px;

    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        position: relative;
    }

    .category,
    .description{
      color: $opacity-8;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }
}

.clear-filter{
    &:after,
    &:before{
        display: none;
    }

    &[filter-color="blue"]{
        @include linear-gradient(rgba($black-color,.20), rgba(14, 23, 3, 0.6));
    }
}
body {
  margin: 0;
  font-weight: 300;
  min-height: 100vh;
  background-color: #fff;
}

.page-footer.dark {
  background-color: #706f70;
}

// With variable
.text-cyan { color: $cyan; }

.light-grey-section{ background-color: #f8f8f8; }


/**
* Component Styling
**/

/** Forms **/
.form-control {
  border-radius: 0px;
}

/** Buttons **/
.btn-outline-grey, .outline-grey {
  border: 1px solid $gray-700;
}

button {
  height:50px;
}

.btn{
  border: solid 1px #707070;
  background-color: transparent;
}

.card-group {
  margin: 10px 10px 10px 10px;
  border: 1pt solid #232323;
  border-radius: 15px;
 }
.card {
  background-color: #212121 !important;
  border: none;
}
.card-body {
  padding: 10px;
}
footer {
  margin: 0 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer {

    height:44px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;

}

.footer_contents {

    height:24px; // Replace with the height your footer should be
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
}
