@import 'my_variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* Roboto regular */

.card-group {
  margin: 10px 10px 10px 10px;
  border: 1pt solid #232323;
  border-radius: 15px;
 }
.card {
  background-color: #212121 !important;
  border: none;
}
.card-body {
  padding: 10px;
}
